<!DOCTYPE html>
<htmll>
    <head>
        <meta charset="utf8">
        <title>Some webite</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>

        {{> footer}}
    </body>
</html>