<!DOCTYPE html>
<htmll>
    <head>
        <meta charset="utf8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>
</htmll>